@import './../../mixins.scss';

.hero {
    @include maxWidth;
    video {
        width: 100%;
    }

    &--video {
        position: absolute;
        top: 160px;
        left: 0;
        z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    &--wrapper {
        width: 50%;
        background-color: #2a435d;
        margin-top: 100px;

        > span {
            display: flex;
            align-items: center;
        }

        button {
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            padding: 10px;

            &.no--active {
                background-color: #fff;
                color: #000;
            }
        }
    }

    &--story {
        display: none;
        margin-top: 30px;
        padding: 0 20px 20px;
        &.is--active {
            display: block;
        }

        h4 {
            color: #00c3ff;
            font-size: 26px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        h5 {
            color: #00c3ff;
            font-size: 22px;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-style: italic;
            margin-top: 30px;
        }

        ul {
            li {
                color:#fff;
                margin-bottom: 7px;
            }
        }

        p {
            color:#fff;
            padding: 0 30px;
            line-height: 1.5;
        }
    }

    &--overview {
        display: none;

        &.is--active {
            display: block;
        }

        &--info {
            color:#fff;
            padding: 20px 20px 50px;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                background: #00c3ff;;
                height: 50px;
                width: 5px;
                display: block;
                margin-right: 20px;
            }
        }
        &--head {
            margin-top: 30px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            span {
                width: 100%;
                flex-direction: column;
                align-items: baseline;
            }
            h3 {
                color: #fff;
                font-weight: 700;
                font-size: 36px;
            }
            h4 {
                color: #00c3ff;
                font-size: 25px;
            }
        }
    }

    &--abilities {
        h4 {
            color: #00c3ff;
            font-size: 25px;
            text-transform: uppercase;
            padding: 0 20px;
        }
        span {
            h5 {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            p {
                color: #fff;
            }

        }
            ul {
                padding: 20px;
                li {
                    background-color: #283a4c;
                    margin-bottom: 10px;
                    div {
                        display: flex;
                    }

                    span {
                        display: flex;
                        padding: 0 20px;
                        flex-direction: column;
                        align-items: baseline;
                        justify-content: center;
                    }
                    video {
                        border-top: 10px solid;
                    }
                }
            }
    }


}
