@import './../../mixins.scss';

.hero {
    @include maxWidth;
    video {
        width: 100%;
    }

    &--video {
        position: absolute;
        top: 160px;
        left: 0;
        z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 160px;
            background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,96.5%,0)),to(#f6f6f6)); 
            background-image: linear-gradient(180deg,hsla(0,0%,96.5%,0) 0,#f6f6f6); 
            height: 35px;
            top:-35px;
        }
    }

    &--thumbs {
        background-color: #2a435d;
        ul {
            @include maxWidth;
            justify-content: center;
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            li {
                button {
                    border: 2px solid #fff;
                    border-radius: 4px;

                    &:hover {
                        transform: scale(1.2);
                        background-color: #00c3ff;
                    }
                }
                margin: 0 5px;
                width: 80px;
                img {
                    width: 100%;
                }
            }
        }
    }


    &--wrapper {
        width: 50%;
        background-color: #2a435d;
        margin-top: 100px;

        > span {
            display: flex;
            align-items: center;
        }

        button {
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            padding: 10px;

            &.no--active {
                background-color: #fff;
                color: #000;
            }
        }
    }

    &--story {
        display: none;
        margin-top: 30px;
        padding: 0 20px 20px;
        &.is--active {
            display: block;
        }

        h4 {
            color: #00c3ff;
            font-size: 26px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        h5 {
            color: #00c3ff;
            font-size: 22px;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-style: italic;
            margin-top: 30px;
        }

        ul {
            li {
                color:#fff;
                margin-bottom: 7px;
            }
        }

        p {
            color:#fff;
            padding: 0 30px;
            line-height: 1.5;
        }
    }

    &--overview {
        display: none;

        &.is--active {
            display: block;
        }

        &--info {
            color:#fff;
            padding: 20px 20px 50px;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                background: #00c3ff;;
                height: 50px;
                width: 5px;
                display: block;
                margin-right: 20px;
            }
        }
        &--head {
            margin-top: 30px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            span {
                width: 100%;
                flex-direction: column;
                align-items: baseline;
            }
            h3 {
                color: #fff;
                font-weight: 700;
                font-size: 36px;
            }
            h4 {
                color: #00c3ff;
                font-size: 25px;
            }
        }
    }


    &--star--1, &--star--2, &--star--3 {
        display: flex;
        flex-direction: row!important;
        span {
            background-image:url('./images/star.png') ;
            background-repeat: no-repeat;
            background-position: 0px -43px;
            width: 42px;
            height: 42px;
            display: block;
            background-size: cover;
        }
    }
    &--star--1 {
        span {
            &:first-of-type {
                background-position: 0px -2px;
            }
        }
    }
    &--star--2 {
        span {
            &:first-of-type {
                background-position: 0px -2px;
            }
            &:nth-of-type(2) {
                background-position: 0px -2px;
            }
        }
    }
    &--star--3 {
        span {
            &:first-of-type {
                background-position: 0px -2px;
            }
            &:nth-of-type(2) {
                background-position: 0px -2px;
            }
            &:last-of-type {
                background-position: 0px -2px;
            }
        }
    }

    &--abilities {

        &--img {
            width: 80px;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: #1b2936;
            //height: 80px;

            //&:before {
            //    content: "";
            //    width: 70px;
            //    height: 70px;
            //    border: 1px solid #fff;
            //    display: block;
            //    position: absolute;
            //    border-radius: 100%;
            //}
            img {
                width: 80px;

            }
        }

        h4 {
            color: #00c3ff;
            font-size: 25px;
            text-transform: uppercase;
            padding: 0 20px;
        }
        span {
            h5 {
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            p {
                color: #fff;
                line-height: 1.5;
            }

        }
            ul {
                padding: 20px;
                li {
                    background-color: #283a4c;
                    margin-bottom: 10px;
                    div {
                        display: flex;
                    }

                    span {
                        display: flex;
                        padding: 20px;
                        flex-direction: column;
                        align-items: baseline;
                        justify-content: center;
                    }
                    video {
                        border-top: 10px solid;
                    }
                }
            }
    }


}
