@import './../../mixins.scss';
.heroes {
    background-color: #fff;
    @include maxWidth;
    padding-top: 30px;
    > div {
        display: flex;
        flex-direction: column;
    }

    select {
        border: 1px solid black;
        padding: 8px;
        border-radius: 8px;
        font-size: 26px;
        margin-bottom: 30px;
    }

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        align-items: baseline;
    }
    input, textarea {
        padding: 10px;
        border: 1px solid #80808085;
        border-radius: 8px;
        width: 90%;
    }

}
