.header {
    max-width: 1280px;
    margin: 0 auto;

    &--wrapper {
        display: flex;
        align-items: center;
        justify-content: initial;
        padding: 30px 0;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            span {
                display: block;
            }
            margin: 0px 10px;
        }
    }

}
