@import './../../mixins.scss';

.header {
    background-color: #fff;

    &--wrapper {
        @include maxWidth;
        display: flex;
        align-items: center;
        justify-content: initial;
    }
}
