@import './../../mixins.scss';

.header {
    background-color: #000;

    &--wrapper {
        @include maxWidth;
        display: flex;
        align-items: center;
        justify-content: initial;
    }

    img {
        width: 200px;
    }
}
